.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border: 1px solid rgb(228, 228, 228);
    /* background-color: aqua; */
}

/* left-section */
.left-section {
    width: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section .hamburger-button {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
}

.left-section .hamburger-menu {
    height: 24px;
}

.left-section .youtube-button {
    flex: 1;
    height: 20px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
}

.left-section .hamburger-button:hover,  .left-section .youtube-button:hover{
    opacity: 0.4;
}

.left-section .youtube-logo {
    height: 20px;
}



/* middle-section */
.middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.middle-section .search-bar {
    flex: 1;
    width: 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.middle-section .search-button {
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    position: relative;
    cursor: pointer;
    transition: opacity 0.15s;
}


.middle-section .search-icon {
    width: 25px;
}

.middle-section .voice-search-button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    position: relative;
    transition: opacity 0.15s;
}

.middle-section .voice-search-icon {
    width: 25px;
}



/* right-section */
.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.right-section .upload-button,
.right-section .youtube-apps-button,
.right-section .notifications-button
{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: opacity 0.15s;
    position: relative;
}

.middle-section .search-button .tooltip,
.middle-section .voice-search-button .tooltip,
.right-section .upload-button .tooltip,
.right-section .notifications-button .tooltip
 {
    position: absolute;
    bottom: -30px;
    background-color: gray;
    padding: 4px 8px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
}

.right-section .upload-button .tooltip,
.right-section .notifications-button .tooltip
{
    bottom: -40px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section .upload-button:hover .tooltip,
.right-section .notifications-button:hover .tooltip
{
    opacity: 1;
}

.right-section .upload-icon,
.right-section .youtube-apps-icon,
.right-section .notifications-icon
{
    width: 24px;
    height: 24px;
}

.right-section .notifications-button {
    position: relative;
}

.right-section .notifications-count {
    position: absolute;
    right: -4px;
    top: 0px;
    font-size: 10px;
    background-color: rgb(204, 0, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 14px;
    height: 14px; */
    padding: 2px 5px;
    color: #fff;
    border-radius: 80px;
    pointer-events: none;
}

.right-section .avatar-button {
    width: 32px;   
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    border: none;
}

.right-section .avatar-icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}






