.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    width: 74px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-decoration: none;
    color: #000;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-icon {
    width: 24px;
    margin-bottom: 5px;
}